
  .wrapper{margin:10vh}
  button{
    margin-right: 6px;
    margin-left: 6px;
}
.center {
    text-align: center;
    padding-top: 20px;
    }
  
  .card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
   overflow:hidden;
   border-radius:20px;
   min-height:450px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  
  
  
   @media (max-width: 768px) {
    min-height:350px;
  }
  
  @media (max-width: 420px) {
    min-height:300px;
  }

  
   
  
 
  }