<app-header-admin></app-header-admin>
<app-side-bar-admin></app-side-bar-admin>
<div id="content-page" class="content-page">
    <div class="container">
       <div class="row">
        <div class="col-lg row m-0 p-0">
          <div id="post-modal-data" class="card card-block card-stretch card-height">
             <br>

             <h1>Add offer</h1>
             <div style="display: flex;">
               <div>
                    <form  #formCollaboration="ngForm"  >
                      <div class="d-block line-height">
                        <div class="star w-50 rating-star">
                          <ngx-star-rating formControlName="rating1" [id]="'rating'" [(ngModel)]="offer.rate" name="rate"></ngx-star-rating>
                       </div>                                            
                     </div>
                     
                      <div >
                      <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Ex. California" value="name" [(ngModel)]="offer.title" name="title">
                      </mat-form-field>
                    </div>
                    
                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Ex. California" value="name" [(ngModel)]="offer.descrption" name="descrption"></textarea>
                      </mat-form-field>
                    </div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Localisation</mat-label>
                        <input matInput placeholder="Ex. California" value="name" [(ngModel)]="offer.location" name="location">
                      </mat-form-field>
<div>
                      <mat-form-field appearance="fill">
                        <mat-label>Date</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date" [(ngModel)]="offer.starDateOf" name="starDateOf"  [min]="minDate" >
                          <input matEndDate placeholder="End date" [(ngModel)]="offer.endDateOf" name="endDateOf">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
</div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Place number</mat-label>
                        <input type="number" matInput placeholder="Ex. California" value="name" [(ngModel)]="offer.nplaces" name="nplaces">
                      </mat-form-field>
<div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Prix</mat-label>
                        <input matInput placeholder="Ex. California" value="name" [(ngModel)]="offer.prix" name="prix">
                      </mat-form-field>
</div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Percentage</mat-label>
                        <input matInput placeholder="Ex. California" value="name" [(ngModel)]="offer.percentage" name="percentage">
                      </mat-form-field>

                      
<div>
                      <mat-form-field appearance="fill" >
                        <mat-label>Happy</mat-label>
                        <select matNativeControl required >
                          <option value="volvo">HAPPY_HOUR</option>
                          <option value="saab">HAPPY_DAYS</option>
                          <option value="mercedes">BLACK_FRIDAY</option>
                          <option value="audi">PROMOTION</option>
                        </select>
                      </mat-form-field>
</div>               
                      <div class="input-group input-group-sm mb-6">
                        <div class="input-group-prepend">
                          <p>Picture</p>
                          <input id="feed-upload-input-2" type="file" type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)" onchange="readURL(this)"
                          [(ngModel)]="offer.picture"  name="picture" >
                        </div>
                      </div>
                    
                
                      <br>
                        <div class="example-button-row">
                          <button type="button" class="btn btn-outline-primary" (click)="AddOffer()">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg>  Add offer
                        </button>
                        </div>
      
          </form>
        </div>
          <div id="mapa" style="margin-left: 100px;"></div>
        </div>
          </div>
        </div>
       </div>
    </div>
</div>





       
    
             

